@tailwind base;
@tailwind components;
@tailwind utilities;

/* Animacion para Login */
@keyframes spin-slow {
  from {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  to {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}
/* efecto de borde brillante */
.login-border::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  width: 190%;
  height: 190%;
  background: conic-gradient(from 180deg at 50% 50%, #4ade80 0deg, #60a5fa 90deg, #38bdf8 180deg, #a78bfa 270deg, transparent 360deg);
  animation: spin-slow 20s linear infinite;
  z-index: -1;
  border-radius: 9999px; 
}

